/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

/* navigation */
.logo {
  width: 150px;
}

.navigation-link {
  color: #272142;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-top: 38px;
}

.active-link {
  color: #662eed;
}
/* hero */
.hero {
  height: 265px;
  background-image: url("images/hero.jpg");
  background-color: #808080;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 48px;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.36;
  color: #ffffff;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
  color: #ffffff;
}

/* main section */

section {
  margin: 100px 0;
}

.recipe-card-image {
  height: 350px;
  border-radius: 12px;
}

.recipe-row {
  margin-bottom: 50px;
}

.recipe-clmn-1 {
  padding-right: 20px;
}

.recipe-clmn-2 {
  padding-left: 20px;
}

h3 {
  font-size: 28px;
  color: #272142;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-top: 20px;
}
/* footer */

footer {
  background-color: #f9f7fe;
}

footer .logo {
  margin: 37.2px;
}

.sm-icon {
  width: 16px;
  color: #272142;
  margin-top: 42px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  color: #272142;
  font-size: 16px;
  font-weight: 400;
  margin-top: 42px;
  text-align: end;
}
