/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

.hero {
  height: 265px;
  background-image: url("images/hero.jpg");
  background-color: #808080;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 48px;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.36;
  color: #ffffff;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
  color: #ffffff;
}
