/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  margin: auto;
}

/* navigation */

.navbar {
  padding: 60px 80px;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.navigation-link {
  color: #272142;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-top: 38px;
  margin-left: 45px;
}

.navigation-link:hover {
  text-decoration: none;
  color: #272142;
}

.active-link {
  color: #662eed;
}

.navbar-nav {
  text-align: end;
}

/* hero */
.hero {
  height: 265px;
  background-image: url("images/hero.jpg");
  background-color: #808080;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 48px;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.36;
  color: #ffffff;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
  color: #ffffff;
}

/* main section */

.container {
  margin: auto;
  padding: 30px 0;
}

.recipe-card-image {
  max-width: 100%;
  border-radius: 12px;
}

.recipe-row {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

.recipe-clmn-2 {
  margin-left: 40px;
}

h3 {
  font-size: 28px;
  color: #272142;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-top: 20px;
}
/* footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f9f7fe;
  padding: 60px 80px;
}

.sm-icon {
  width: 16px;
  color: #272142;
}

.copyright {
  font-family: "Roboto", sans-serif;
  color: #272142;
  font-size: 16px;
  font-weight: 400;
  text-align: end;
}

/* mobile */

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 40px 0px;
  }

  hero {
    padding: 24px;
  }
  h1 {
    font-size: 42px;
    line-height: 1.1;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 16px;
  }

  .recipe-row {
    margin-bottom: 0px;
    display: block;
  }

  .recipe-clmn {
    padding: 15px;
  }

  .recipe-clmn-2 {
    margin-left: 0px;
    padding: 15px;
  }

  footer {
    background-color: #f9f7fe;
    padding: 20px;
    display: block;
  }

  footer .logo {
    display: none;
  }

  .copyright-container {
    margin: 20px;
  }

  .copyright {
    text-align: center;
  }
}
